body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    background-color: rgb(238, 238, 238);
}


/* NAV */

nav {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0px 0px 7px 0px rgb(131, 131, 131);
    padding: 0px 30px;
}

nav h1 {
    color: green;
    margin: 0.6rem;
}

.puntaje {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 900;
}

.puntaje span:first-child {
    color: rgb(67, 67, 67);
}

.puntaje span:last-child {
    color: green;
    font-weight: 900;
}

/* MAIN */

main {
    padding: 3%;
    box-sizing: border-box;
}


/* RANDOM CHALLENGE SECTION */

.header {
    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: space-between;
}

.random-play {
    border: 1px grey solid;
    border-radius: 10px;
    min-width: 80%;
    padding: 2% 2% 2% 2%;
    font-size: 80%;
}

.random-play-button button{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2%;
}

.points {
    background-color: green;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

#juegos {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
}

#play_content {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px rgba(191, 191, 191, 0.683) solid;
    height: auto;
    min-height: 14rem;
    width: 11rem;
    margin-bottom: 10%;
}

img {
    height: 8rem;
    max-width: 11rem;
    object-fit: fill;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.play-edit {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: center;
    gap: 3%;
}

.jugar {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2%;
    min-width: 60%;
}

#addGame {
    background-color: green;
    color: white;
    border: none;
    border-radius: 100%;
    padding: 16px 24px;
    font-size: 30px;
}